// color palette - these colors will be the color swatches of the Colors section

$color-1: #D01C10; 
$color-2: #0F5F9C; 
$color-3: #D3C016; 
$color-4: #439C43 ; 
$color-5: #ffffff ; 
$color-6: #000000;

// additional colors

$success: $color-4; // green
$alert: $color-3; // red


//border-width for all borders

$border-width: 15px;